<div class="container">
<%= render 'shared/errors' %>
<div class="form-container shadow-lg rounded form-text-bold mb-4">
  <%= form_with(model: @article, local: true) do |f| %>
    <div class="form-group row ">
      <%= f.label :title, class: "col-2 col-form-label " %>
      <div class="col-10">
        <%= f.text_field :title, class: "form-control shadow-sm rounded", placeholder: "Title of article" %>
      </div>
    </div>
  
    <div class="form-group row">
      <%= f.label :description, class: "col-2 col-form-label" %>
        <div class="col-10">
      <%= f.text_area :description, rows: 10, class:"form-control shadow-sm rounded", placeholder: "Description of article" %>
      </div>
    </div>

    <div class="form-group row justify-content-center">
    <%= f.submit class:"btn btn-success mr-4" %>
    </div>
  <% end %> 
</div>
    <div class="text-center mb-4">
      <%= link_to 'Cancel and return to articles listing', articles_path, class: "text-danger " %> 
    </div>
</div>